nav {
  /*background-color: #DD2020;*/
  background-color: #333;
  z-index: 999;
}

body {
  background-color: #EEE;
}

.modal {
  background-color: #fafafa;
  max-height: 90%;
  width: 70%;
  overflow: hidden;
}

/* GAMBIARRA NO CSS PRA FUNCIONAR O TABS DENTRO DO MODAL :S */
.tabs .indicator {
  display: none;
}

.tabs .tab a.active {
  border-bottom: 2px solid #f6b2b5;
}

.page-footer {
  background-color: #DD2020;
  /*background-color: #333333;*/
}

@media (min-width:968px){
  .card-image {
    max-height: 300px;
  }

  .lista-filmes{
    height: 650px;
  }
}
